body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #b3b3b3;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.centered-header {
    text-align: center;
    background-color: #b3b3b3;
    padding: 20px;
}

.centered-header h1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}